body {
    background-color: $light;
}
.row {
    margin: $marginblock;
}
.titre {
    font-family: $font-title ;
    font-size: $h1-font-size;
}
.round {
    border-radius: $round-radius;
}
.btn-footer {
    font-family: $font-title;
    font-size: x-large;
    color: $primary;
    text-decoration: none;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dis {
    pointer-events: none;   
}
.ball {
    display: inline;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 10px;
}
.fs-7 {
    font-size: 14px;
}
