body {
    background-color: $light;
}
.row {
    margin: $marginblock;
}
.titre {
    font-family: $font-title ;
    font-size: $h1-font-size;
}
.round {
    border-radius: $round-radius;
}
.btn-footer {
    font-family: $font-title;
    font-size: x-large;
    color: $primary;
    text-decoration: none;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
